Thumbs.db
Highscore.bin
Temp/
Library/*
obj/
*.svd
*.suo
*.sln
*.csproj
*.pidb
*.unityproj

!Library/*.asset
!Library/AssetVersioning.db
!Library/BuildPlayer.prefs
!Library/ScriptMapper
!Library/assetservercachev3
!Library/unity default resources
!Library/unity editor resources
/Library/assetDatabase3
/Library/guidmapper
/Library/InspectorExpandedItems.asset
